.flexbox-container{
    display: flex;
    padding: 3%;
    flex-direction:row;
    border-style:double;
    height: 100%;
    justify-content: space-around;
    width: 93%;
    flex-wrap: wrap;
    align-items: center;/*Buscar la relaciónn de tamaño*/
    align-content: center;
    background-color: rgb(209, 37, 37);
}

.flexbox-item{
    display: flex;
    padding: 3%;
    flex-direction:row;
    border-style:double; 
    height: 100%;
    justify-content:space-between;
    width: 93%;
    flex-wrap: wrap;
    align-items: left;/*Buscar la relaciónn de tamaño*/
    align-content: center; 
    background-color: rgb(200, 200, 209);   
}

button{
    width: 120px; 
    height: 30px;
}

img{
width: 50%;
height:70%;
}

.flexbox-header{
    height: 40%;
    border-style: solid;
    border-bottom: 5px;
    background-color: black;
}
